[submodule "themes/geekblog"]
	path = themes/geekblog
	url = https://github.com/thegeeklab/hugo-geekblog.git
[submodule "themes/hugo-clarity"]
	path = themes/hugo-clarity
	url = https://github.com/chipzoller/hugo-clarity
